.row {
    margin: 0 8px;
}

.header {
    width: 100%;
    background: #9CCC65;
    padding: 16px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.mat-elevation-z2 {
    padding: 16px;
    margin: 16px 0;
}

.device {
    width: 100%;
}

.name {
    color: #7e7e7e;
    font-size: 22px;
}

.device-name {
    display: flex;
    justify-content: space-between
}

.row {
    width: 100%;
}