<div class='header'>{{roomData?.roomName}}
  <div class="example-spacer"></div>
  <button mat-button (click)="openRoomSensorsDialog()">Dodaj czujniki</button>
</div>
<div class="flex row">
  <div class='device-controls col-md-4 col-sm-12' *ngIf="devices?.length > 0">
    <div class="mat-elevation-z2 device" *ngFor='let d of devices'>
      <div class="device-name">
        <div class="name">{{(d?.name).toUpperCase()}}</div>
        <button mat-raised-button (click)="changeState(d.id, 'ON')">ON</button>
        <button mat-raised-button (click)="changeState(d.id, 'OFF')">OFF</button>
      </div>
    </div>
  </div>
  <div *ngIf="tempSensor" class='row'>
    <div class='temperature-chart mat-elevation-z2' [class.col-md-8]="devices?.length > 0" [class.col-md-6]="devices?.length == 0">
      <canvas baseChart [datasets]="temperatureData" [labels]="timestampLabels" [options]="lineChartOptions" [colors]="lineChartColors"
        [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class='humidity-chart mat-elevation-z2' [class.col-md-8]="devices?.length > 0" [class.col-md-6]="devices?.length == 0">
      <canvas baseChart [datasets]="humidityData" [labels]="timestampLabels" [options]="lineChartOptions" [colors]="lineChartColors"
        [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

</div>



<script src="node_modules/chart.js/src/chart.js"></script>