<div class="column">
  <form [formGroup]="sceneGroup" class="row">
    <div class="column col-md-6">
      <mat-input-container>
        <mat-select placeholder="Czujnik uruchamiający" formControlName="triggerId">
          <mat-option *ngFor="let s of data.sensors" [value]="s.id">
            {{s.name}}
          </mat-option>
        </mat-select>
      </mat-input-container>
      <mat-input-container>
        <mat-select placeholder="Typ danych" formControlName="triggerType">
          <mat-option value="temperature">
            Temperatura
          </mat-option>
          <mat-option value="humidity">
            Wilgotność
          </mat-option>
        </mat-select>
      </mat-input-container>
      <mat-input-container>
        <mat-select placeholder="Kiedy" formControlName="triggerAction">
          <mat-option value="&lt;">
            &lt;
          </mat-option>
          <mat-option value="&gt;">
            &gt;
          </mat-option>
          <mat-option value="&lt;=">
            &lt;=
          </mat-option>
          <mat-option value="&gt;=">
            &gt;=
          </mat-option>
          <mat-option value="==">
            =
          </mat-option>
        </mat-select>
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Wartość" formControlName="triggerValue" />
      </mat-input-container>
    </div>
    <div class="column col-md-6">
      <mat-input-container>
        <mat-select placeholder="Przełącznik reagujący" formControlName="resolverId">
          <mat-option *ngFor="let s of data.switches" [value]="s.id">
            {{s.name}}
          </mat-option>
        </mat-select>
      </mat-input-container>
      <mat-input-container>
        <mat-select placeholder="Do wartości" formControlName="resolverValue">
          <mat-option value="1">
            Uruchom
          </mat-option>
          <mat-option value="0">
            Wyłącz
          </mat-option>
        </mat-select>
      </mat-input-container>
    </div>

  </form>
  <button mat-raised-button color="accent" (click)="save()">DODAJ</button>
</div>