<div class="flex-column">
  <mat-input-container>
    <mat-select placeholder="Czujnik" [formControl]="sensorId">
      <mat-option *ngFor="let s of sensors" [value]="s.id">
        {{s.name}}
      </mat-option>
    </mat-select>
  </mat-input-container>
  <button mat-raised-button color="accent" (click)="save()">DODAJ</button>
</div>