.container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('https://source.unsplash.com/random/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100vw !important;
}

.sensor {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 36px;
  span {
    margin: 8px;
  }
}

@media (max-width: 768px) {
  .sensor {
    font-size: 95%;
  }

  .container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}