<div class="container">
  <div class="sensor" *ngFor="let s of sensors">
    <span>{{ s.time | date: 'dd/MM/yyyy HH:mm'}}</span>
    <span>{{ s?.temperature }}&deg;C</span> <span>{{ s?.humidity }}%</span>
  </div>
</div>