<div class="column mat-elevation-z2">
  <div class="trigger-name">
    <div class="description">
      Nazwa czujnika
    </div>
    {{triggerName}}
  </div>
  <div class="trigger-type">
    <div class="description">
      Typ danych
    </div>
    {{triggerType}}
  </div>
  <div class="trigger-action">
    <div class="description">
      Obserwator
    </div>
    {{scene.triggerAction}}
  </div>
  <div class="trigger-value">
    <div class="description">
      Wartość czujnika
    </div>
    {{scene.triggerValue}}
  </div>
  <div class="resolver-name">
    <div class="description">
      Nazwa przełącznika
    </div>
    {{resolverName}}
  </div>
  <div class="resolver-value">
    <div class="description">
      Wartość przełącznika
    </div>
    {{resolverValue}}
  </div>
  <button mat-button color="warn" (click)="removeScene()">Usuń</button>
</div>