<div class='header'>Zarządzanie scenami
  <div class="example-spacer"></div>
  <button mat-button (click)="openSceneCreator()">Utwórz scenę</button>
</div>
<div class="row">
  <app-scene *ngFor="let s of scenes" [scene]="s" [switches]="switches" [sensors]="sensors" class="col-md-4 col-sm-6">
  </app-scene>
</div>