<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{room.name}}</mat-card-title>
  </mat-card-header>
  <div class='room-data'>
    <canvas mat-cart-image baseChart [datasets]="temperatureData" [labels]="timestampLabels" [options]="lineChartOptions" [colors]="lineChartColors"
      [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
  </div>
  <mat-card-actions>
    <button mat-button color="primary" (click)="navigateToRoom()">ZOBACZ</button>
  </mat-card-actions>
</mat-card>