<div>
  <form [formGroup]="RoomForm" class="column">
    <mat-form-field>
      <input matInput formControlName="roomName" placeholder="RoomName" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="roomDesc" placeholder="RoomDesc"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="roomFloorNumber" placeholder="RoomFloorNumber" />
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="save()" [disabled]="!RoomForm.valid">DODAJ</button>
  </form>

</div>
