.or {
  margin: 16px 0;
}

.column {
  display: flex;
  position: relative;
  flex-direction: column;
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108%;
    top: -10px;
    left: -10px;
    height: 108%;
    /* background: white; */
    /* filter: blur(2px); */
    z-index: 100;
}

.blur {
  filter: blur(2px);
}