<div class="column">
  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="column" [class.blur]="loading">
    <button mat-raised-button color="accent" (click)="autoSearch()">WYSZUKUJ CZUJNIK</button>
    <div class="col-md-12 or">
      lub dodaj czujnik ręcznie
    </div>
    <div class="column" [formGroup]="sensorGroup">
      <mat-input-container>
        <input matInput placeholder="Nazwa" formControlName="name" />
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Adres IP" formControlName="ipAddress" />
      </mat-input-container>
      <button mat-raised-button color="accent" (click)="add()" [disabled]="!sensorGroup.valid">DODAJ</button>
    </div>
  </div>
</div>
