.sidenav {
  width: 248px;
  background: #EEEEEE;
}

.toolbar {
  z-index: 50;
  color: white;
  position: fixed;
}

.outlet {
  position: absolute;
  top: 60px;
  left: 0px;
}

.mat-sidenav-content {
  width: calc(100vw - 248px);
    height: calc(100vh - 60px);
    top: 4px;
}

.nav-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
 
.active {
  background: rgba(87, 87, 87, 0.1);
}

.spacer {
  height: 64px;
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 600px) {
  .spacer {
    height: 56px;
  }
}