<ng-container>
  <mat-toolbar class="toolbar mat-elevation-z3" [style.background]="!overview ? '' : 'transparent'" color="primary">
    <span (click)="goBack()" class="title">
      <mat-icon>home</mat-icon>Your Home</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="scenes" routerLinkActive="active">
      SCENY</button>
    <button mat-button routerLink="overview" routerLinkActive="active">
      OVERVIEW</button>
  </mat-toolbar>
  <div *ngIf="!overview" class="spacer"></div>
  <router-outlet class="outlet"></router-outlet>
</ng-container>