// .flex {
//   display: flex;
//   flex-wrap: wrap;
//   width: 100%;
//   max-height: none;
// }

.card {
  width: calc(50% - 32px);
  margin: 16px;
  min-width: 248px;
}

.row {
  padding: 0 16px;
}

.table {
  margin-top: 16px;
}

.column {
  margin-top: 16px;
}