<div class="row">
  <div class="column col-md-6">
    <div class="row">
      <div class="example-spacer"></div>
      <button mat-raised-button color="accent" (click)="openRoomDialog()">Stwórz pokój</button>
    </div>
    <app-room class="card" *ngFor="let r of rooms" [room]="r"></app-room>
  </div>
  <div class="column col-md-6">
    <div class="row">
      <div class="example-spacer"></div>
      <button mat-raised-button color="accent" style="visibility: hidden;" (click)="openSensorDialog()">Dodaj czujnik</button>
    </div>
    <div class="mat-elevation-z1 table">
      <mat-table #table [dataSource]="sensorsDataSource">
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.type}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.name}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ip">
          <mat-header-cell *matHeaderCellDef> IP address </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.address}}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>