/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "assets/styles/reset.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import 'node_modules/bootstrap/scss/grid.scss';

@include mat-core();
$candy-app-primary: mat-palette($mat-grey);
$candy-app-accent : mat-palette($mat-purple);
$candy-app-warn : mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
}

div,
span,
body {
  box-sizing: border-box;
}


.header {
  width: 100%;
  background: #9CCC65;
  padding: 16px;
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.example-spacer {
  flex: 1 1 auto;
}
